/* work styling */

.thumbnail-gallery{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project{
  flex:0 50%;
  max-width:49%;
  margin-bottom:60px;
}

.project-image img{
  width:100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: ease-in all 0.2s;
}

.project:hover .project-image img{
  width:100%;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: ease-in all 0.2s;
}

.project-title{
  margin:16px 0 8px;;
  font-size:1.6rem;
  font-weight:500;
  font-family: 'Rubik', sans-serif;
  transition: ease-in all 0.2s;
}

.project-title span,
.project-category span{
  transition: ease-in all 0.2s;
}


.project:hover .project-title span,
.project:hover .project-category span{
  background:#35FFC4;
  transition: ease-in all 0.2s;
}
